# Dependencies
node_modules

# Build outputs
build
android/app/build
android/build
android/**/build
ios/build
ios/Pods

# Logs and caches
*.log
.tmp
.cache

# Version control
.git

# IDE/editor
.vscode
.idea

# Jest cache/coverage
coverage
.jest

# Metro/React Native caches
.expo
.expo-shared

# Dist
lib
dist
